/* rgb(220 38 38); */
/* rgb(0 0 0); */
/* rgb(185 28 28); */

nav a.active{
    color: rgb(220 38 38);
    /* text-decoration: underline; */
    border-bottom: 2px solid rgb(220 38 38);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
    color: rgb(0 0 0);
    padding: 10px;
}

.navbar-logo a {
    /* color: #fff; */
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin: 0 10px;
    font-weight:600;
}

.navbar-item a:hover{
    color: rgb(220 38 38);
    /* font-weight: bold; */
}

.navbar-link {
    /* color: #fff; */
    text-decoration: none;
    font-size: 18px;
}

.navbar-toggle {
    display: none;
}

.navbar-icon {
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(0 0 0);
    margin: 5px;
}

@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 10px;
        transition: all 0.5s ease-in-out;
        z-index: 999;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-item {
        margin: 10px 0;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
    }
}

